---
import PbImage from '../components/pbImage.astro'; 


const { offre } = Astro.props;
---

<div class="group relative bg-white border border-gray-200 rounded-xl p-6 shadow-md hover:shadow-xl hover:-translate-y-2 transition-all duration-300 cursor-pointer overflow-hidden">
  
  <PbImage 
    record={offre} 
    recordImage={offre.image[0]} 
    width={900} 
    height={300}
    class="w-full h-48 object-cover rounded-lg mb-4 group-hover:scale-105 transition-transform duration-500" 
  />

  <div class="flex items-center gap-3 mb-2 group-hover:translate-x-1 transition-transform duration-200">
    <strong class="text-xl font-bold text-gray-900 group-hover:text-orange-600 transition-colors">
      {offre.nom_maison}
    </strong>

    <button class="favoriteButton absolute bottom-0 left-0 p-2 text-white rounded-br-lg" data-offre={JSON.stringify(offre)}>
    <img 
        id="favorite-icon" 
        src={offre.favori ? "favorite_filled.png" : "favorite.png"} 
        alt="Favorite Icon" 
        class="w-6 h-6 pointer-events-none"
      />
    </button>

    <a 
      href={`/offres/${offre.id}`}
      class="ml-auto bg-orange-600 text-white px-4 py-1.5 rounded-lg text-sm font-semibold hover:bg-orange-700 hover:shadow-md transition-all duration-200"
    >
     Voir plus
    </a>
  </div>
</div>

<script>
    //@ts-nocheck
    import { setFavori } from "../backend.mjs";
    const favoriteButtons = document.querySelectorAll(".favoriteButton");

    favoriteButtons.forEach(button => {
        button.addEventListener('click', () => {
            const offreData = JSON.parse(button.dataset.offre || '{}');
            const newFavori = !offreData.favori;

            setFavori(offreData);

            const favIcon = button.querySelector('#favorite-icon');
            if (favIcon) {
                favIcon.src = newFavori ? "/favorite_filled.png" : "/favorite.png";
            }
            offreData.favori = newFavori;
            button.dataset.offre = JSON.stringify(offreData);
        });
    });
</script>